@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #4ea6fd;
    border-radius: 100vh;
    border: 1px solid #edf3f7;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
}
